ul a {
    font-size: 18px;
    font-weight: 400;
    color: #131313;
    margin: 0 0.75rem;
    padding: 0.5rem 1rem;
}

ul a:hover {
    font-size: 18px;
    font-weight: 600;
    color: #23BE0A;
    padding: 0.5rem 1rem;
    border: 1px solid #23BE0A;
    border-radius: 8px;
    margin: 0 0.75rem;
}


ul a.active {
    font-size: 18px;
    font-weight: 600;
    color: #23BE0A;
    padding: 0.5rem 1rem;
    border: 1px solid #23BE0A;
    border-radius: 8px;
    margin: 0 0.75rem;
}